<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>OpcionRequest</servlet-name>
        <servlet-class>Controller.IrGestorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>Controller.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarUsuarioServlet</servlet-name>
        <servlet-class>Controller.DesactivarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCuentaServlet</servlet-name>
        <servlet-class>Controller.CrearCuentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrGestorConvocatorias</servlet-name>
        <servlet-class>Controller.Convocatorias.IrGestorConvocatorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearConvocatoriaServlet</servlet-name>
        <servlet-class>Controller.Convocatorias.CrearConvocatoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrListadoConvocatorias</servlet-name>
        <servlet-class>Controller.Convocatorias.IrListadoConvocatorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPropuestaServlet</servlet-name>
        <servlet-class>Controller.Propuestas.CrearPropuestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrPropuestasPorConvocatorias</servlet-name>
        <servlet-class>Controller.Propuestas.IrPropuestasPorConvocatorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrListadoPropuestas</servlet-name>
        <servlet-class>Controller.Propuestas.IrListadoPropuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisionPropuestaServlet</servlet-name>
        <servlet-class>Controller.Propuestas.RevisionPropuestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrPerfilServlet</servlet-name>
        <servlet-class>Controller.IrPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfilServlet</servlet-name>
        <servlet-class>Controller.EditarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarCarteraServlet</servlet-name>
        <servlet-class>Controller.RecargarCarteraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrListadoCongresos</servlet-name>
        <servlet-class>Controller.Congreso.IrListadoCongresos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCongresoServlet</servlet-name>
        <servlet-class>Controller.Congreso.CrearCongresoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrListadoCongresosAdmin</servlet-name>
        <servlet-class>Controller.Congreso.IrGestorCongresos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrListadoInstalaciones</servlet-name>
        <servlet-class>Controller.Instalacion.IrListadoInstalaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearInstalacionServlet</servlet-name>
        <servlet-class>Controller.Instalacion.RegistrarInstalacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarInstalacionServlet</servlet-name>
        <servlet-class>Controller.Instalacion.EditarInstalacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarInstalacion</servlet-name>
        <servlet-class>Controller.Instalacion.EliminarInstalacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpcionRequest</servlet-name>
        <url-pattern>/OpcionRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/EditarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarUsuarioServlet</servlet-name>
        <url-pattern>/DesactivarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCuentaServlet</servlet-name>
        <url-pattern>/CrearCuentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrGestorConvocatorias</servlet-name>
        <url-pattern>/IrGestorConvocatorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearConvocatoriaServlet</servlet-name>
        <url-pattern>/CrearConvocatoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrListadoConvocatorias</servlet-name>
        <url-pattern>/IrListadoConvocatorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPropuestaServlet</servlet-name>
        <url-pattern>/CrearPropuestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrPropuestasPorConvocatorias</servlet-name>
        <url-pattern>/IrPropuestasPorConvocatorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrListadoPropuestas</servlet-name>
        <url-pattern>/IrListadoPropuestas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisionPropuestaServlet</servlet-name>
        <url-pattern>/RevisionPropuestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrPerfilServlet</servlet-name>
        <url-pattern>/IrPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfilServlet</servlet-name>
        <url-pattern>/EditarPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarCarteraServlet</servlet-name>
        <url-pattern>/RecargarCarteraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrListadoCongresos</servlet-name>
        <url-pattern>/IrListadoCongresos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCongresoServlet</servlet-name>
        <url-pattern>/CrearCongresoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrListadoCongresosAdmin</servlet-name>
        <url-pattern>/IrListadoCongresosAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrListadoInstalaciones</servlet-name>
        <url-pattern>/IrListadoInstalaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearInstalacionServlet</servlet-name>
        <url-pattern>/CrearInstalacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarInstalacionServlet</servlet-name>
        <url-pattern>/EditarInstalacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarInstalacion</servlet-name>
        <url-pattern>/EliminarInstalacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LogIn.jsp</welcome-file>
    </welcome-file-list>
</web-app>
