<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>OpcionRequest</servlet-name>
        <servlet-class>Controller.IrGestorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>Controller.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarUsuarioServlet</servlet-name>
        <servlet-class>Controller.DesactivarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCuentaServlet</servlet-name>
        <servlet-class>Controller.CrearCuentaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpcionRequest</servlet-name>
        <url-pattern>/OpcionRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/EditarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarUsuarioServlet</servlet-name>
        <url-pattern>/DesactivarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCuentaServlet</servlet-name>
        <url-pattern>/CrearCuentaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LogIn.jsp</welcome-file>
    </welcome-file-list>
</web-app>
